@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    /*font-size: 1vw;*/
    text-transform: uppercase;
    height: 80vh;
}

header, footer {
    background: #2f1c1d;
    color: white;
}

footer, header {
    padding: 2vw;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#uploadForm {
    width: 70vw;
}

#uploadForm input {
    padding: 1em;
    margin: 1em 0 1em;
    display: block;
    width: 100%;
}

#start {
    margin-top: 1em;
    display: block;
    width: 100%;
    background: #317B44;
    border: none;
    cursor: pointer;
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    text-align: center;
}

#start:hover {
    background: #339266;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}