<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mandrill Handlebars Helper</title>
    <link rel="stylesheet" href="../assets/style.css"/>
    <link rel="icon" href="//handlebarsjs.com/images/favicon.png"/>
    <script>window.$ = window.jQuery = require('jquery');</script>
</head>
<body>
<header>
    Mandrill Handlebars Helper
</header>
<div id="content">
    <form action="#" id="uploadForm">
        <h1>Settings</h1>
        <div class="inputGroup">
            <label for="htmlFile">Html file</label>
            <input type="text" id="htmlFile" name="htmlFile" placeholder="Drag a html file to this input box"/>
        </div>
        <div class="inputGroup">
            <label for="jsonFile">JSON file</label>
            <input type="text" id="jsonFile" name="jsonFile" placeholder="Drag a json file to this input box"/>
        </div>
        <a href="http://localhost:20755/" target="_blank" id="start">Start</a>
    </form>
</div>
<footer>
    &copy;2016 <a href="https://braham.biz" target="_blank">Steven Braham</a> | <a href="https://github.com/stevenbraham/mandrill-handlebars-helper" target="_blank">Github</a>
</footer>
<script src="../assets/logic.js"></script>
</body>
</html>